.register * {
    border: 0;
    padding: 0;
}

.register {
    font-family: sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}


.register .background{
    background-color: #0005;
    height: 94%;
    width: 100%;
}

.register .container {
    background-color: #fefefe;
    display: block;
    margin: 0 auto;
    height: 600px;
    width: 650px;
    border-radius: 12px;
}

@media (max-width: 400px) {
    .register .container {
        width: 200px;
    }
}

@media (max-width: 640px) {
    .register .each-div {
        width: 320px;
    }
}

.register .heading {
    text-align: center;
    margin: 0 auto;
}

.register .head {
    /* precising the heading item to style having  class of "head"*/
    padding: 0.5em;
    font-size: 2em;
    font-weight: bolder;
    height: 1em;
    text-align: center;
    margin: 0 auto;
}

.register #error {
    color: #f81515;
}

.register form {
    height: 25em;
    width: 45em;
    margin: 0 1em;
}

.register input {
    border-bottom: 1px solid rgb(190, 182, 182);
    outline: none;
    width: 30em;
    height: 2em;
}

.register .label-div {
    width: 45%;
}

.register .each-div {
    /*targetting all the divs that hold labels and inputs*/
    display: flex;
    flex-direction: row;
    width: 34em;
    margin: 0 auto;
    margin-left: 3.5em;
}

.register .each-notes {
    /*targeting the litle writeups near every input*/
    /* background-color: 1px solid black;*/
    width: 48em;
    height: 3em;
    font-size: 0.7em;
}

.register .MoreInformation-div {
    /*styling where we have some help links*/
    display: block;
    width: 45em;
    height: 11em;
    margin-left: 5em;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 0.7em;
}

.register #accept-button {
    width: 60%;
    height: 2em;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    outline: none;
    background-color: #0e73f8;
}

.register #options {
    width: 60%;
    background-color: #ece7e7;
}

.register a {
    text-decoration: none;
    color: #0e73f8;
}

.register .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.66em;
    margin-top: 4em;
    margin-left: 1em;
    padding: .5em;
}